.RandomMovieContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 1rem;
    border-color: aliceblue;
    border-radius: 15px;
    background-color: aliceblue;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    margin-bottom: 10%;   
}

img{
    border-radius: 15px;
}